<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace名称空间-->
<!--<mapper namespace="test">-->
<mapper namespace="com.XYJ.mapper.ApplicationreviewMapper">
    <resultMap id="rs1" type="com.XYJ.pojo.Applicationreview">
        <id column="auditid" property="auditid" ></id>
        <result column="activityid" property="activityid" ></result>
        <result column="volunteerid" property="volunteerid" ></result>
        <result column="leaderid" property="leaderid" ></result>
        <result column="auditstatusid" property="auditstatusid" ></result>
        <result column="etd" property="etd" ></result>
        <result column="eta" property="eta" ></result>
        <result column="feedback" property="feedback" ></result>
        <association property="admissionpolicys" javaType="com.XYJ.pojo.Admissionpolicy">
            <result column="adm" property="admissionpolicy"></result>
        </association>
        <association property="aapplications" javaType="com.XYJ.pojo.Aapplication">
            <id column="applicationid"  property="applicationid"></id>
            <result column="count"  property="activityid"></result>
            <result column="volunteerid"  property="volunteerid"></result>
            <result column="applicationstatusid"  property="applicationstatusid"></result>
            <result column="atime"  property="atime"></result>
            <result column="auditid"  property="auditid"></result>
        </association>
        <association property="users" javaType="com.XYJ.pojo.User">
            <id column="volunteerid" property="volunteerid" ></id>
            <result column="phone" property="phone" ></result>
            <result column="applicationstatus" property="password" ></result>
            <result column="name" property="name" ></result>
            <result column="status" property="idnumber" ></result>
            <result column="gender" property="gender" ></result>
            <result column="birthday" property="birthday" ></result>
            <result column="province" property="province" ></result>
            <result column="city" property="city" ></result>
            <result column="district" property="district" ></result>
            <result column="address" property="address" ></result>
            <!--        <result column="education" property="education" ></result>-->
            <!--        <result column="occupation" property="occupation" ></result>-->
            <!--        <result column="politicaliandscape" property="politicaliandscape" ></result>-->
            <result column="email" property="email" ></result>
            <result column="volunteerhours" property="volunteerhours" ></result>
            <result column="volunteercoins" property="volunteercoins" ></result>
            <result column="credit" property="credit" ></result>
            <result column="registrationtime" property="registrationtime" ></result>
            <result column="userstatusid" property="userstatusid" ></result>
            <!--            <result column="lastlogintime" property="lastlogintime" ></result>-->
            <!--            <result column="pictureaddress" property="pictureaddress" ></result>-->
        </association>
    </resultMap>
    <select id="selectVinfoByAIDFYSH" resultMap="rs1">
        select * from applicationreview as ap
        left join volunteer as vo on vo.volunteerid = ap.volunteerid
        left join auditstatus as au on ap.auditstatusid = au.auditstatusid
        <where>
            ap.activityid = #{applicationreview.activityid}
            <if test="applicationreview.auditstatusid == 1 ">
            and ap.auditstatusid = 1
            </if>
        </where>
        order by ap.etd limit #{begin},#{size};
    </select>
    <select id="selectVinfoByAIDCountSH" resultType="java.lang.Integer">
        select count(*) from applicationreview as ap
        left join volunteer as vo on vo.volunteerid = ap.volunteerid
        left join auditstatus as au on ap.auditstatusid = au.auditstatusid
        <where>
            ap.activityid = #{activityid}
            <if test="auditstatusid == 1 ">
                and ap.auditstatusid = 1
            </if>
        </where>
    </select>


</mapper>