<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace名称空间-->
<!--<mapper namespace="test">-->
<mapper namespace="com.XYJ.mapper.OrganizationMapper">
    <resultMap id="organizationMapperMap" type="com.XYJ.pojo.Organization">
        <id column="organizationid" property="organizationid" />
        <result column="phone" property="phone" />
        <result column="password" property="password"/>
        <result column="otype" property="otype" />
        <result column="registrationstatus" property="registrationstatus" />
        <result column="unifiedcode" property="unifiedcode"/>
        <result column="name" property="name"/>
        <result column="idnumber" property="idnumber" />
        <result column="oname" property="oname" />
        <result column="province" property="province" />
        <result column="city" property="city"/>
        <result column="district" property="district" />
        <result column="oaddress" property="oaddress" />
        <result column="oemail" property="oemail" />
        <result column="ointroduce" property="ointroduce" />
        <result column="olevel" property="olevel" />
        <result column="registrationtime" property="registrationtime" />
        <result column="lastlogintime" property="lastlogintime" />
        <result column="userstatusid" property="userstatusid" />
        <result column="pictureaddress" property="pictureaddress"/>
        <!--配置一对多映射-->
<!--        <collection property="pojo的集合属性" ofType="集合中的pojo对象">-->
    </resultMap>
    <insert id="insert">
        insert into organization(
                                organizationid,
                                phone,
                                password,
                                otype,
                                registrationstatus,
                                unifiedcode,
                                name,
                                idnumber,
                                oname,
                                province,
                                city,
                                district,
                                oaddress,
                                oemail,
                                ointroduce,
                                olevel,
                                registrationtime,
                                pictureaddress,
                                userstatusid
        )  values (
                    #{organizationid},
                    #{phone},
                    #{password},
                    #{otype},
                    #{registrationstatus},
                    #{unifiedcode},
                    #{name},
                    #{idnumber},
                    #{oname},
                    #{province},
                    #{city},
                    #{district},
                    #{oaddress},
                    #{oemail},
                    #{ointroduce},
                    #{olevel},
                    now(),
        <if test="pictureaddress != null and  pictureaddress !=''">
            #{pictureaddress},
        </if>
        <if test="pictureaddress == null or pictureaddress ==''">
            '1.jpg',
        </if>
                    4
                          )
    </insert>

    <select id="selectByPhonePass" resultType="com.XYJ.pojo.Organization">
        select * from organization where phone =#{phone} and password = #{password};
    </select>
<!--
    <select id="selectByOID" resultType="com.XYJ.pojo.Organization">
        select * from organization where organizationid =#{organizationid} and userstatusid = 1;
    </select>
 -->

    <resultMap id="rs1" type="com.XYJ.pojo.Organization">
        <id column="organizationid"  property="organizationid" ></id>
        <result column="phone"  property="phone" ></result>
        <result column="password"  property="password" ></result>
        <result column="otype"  property="otype" ></result>
        <result column="registrationstatus"  property="registrationstatus" ></result>
        <result column="unifiedcode"  property="unifiedcode" ></result>
        <result column="name"  property="name" ></result>
        <result column="idnumber"  property="idnumber" ></result>
        <result column="oname"  property="oname" ></result>
        <result column="province"  property="province" ></result>
        <result column="city"  property="city" ></result>
        <result column="district"  property="district" ></result>
        <result column="oaddress"  property="oaddress" ></result>
        <result column="oemail"  property="oemail" ></result>
        <result column="ointroduce"  property="ointroduce" ></result>
        <result column="olevel"  property="olevel" ></result>
        <result column="registrationtime"  property="registrationtime" ></result>
        <result column="lastlogintime"  property="lastlogintime" ></result>
        <result column="pictureaddress"  property="pictureaddress" ></result>
        <result column="userstatusid"  property="userstatusid" ></result>
<!--        property="otypes" 跟实体类中的属性名一致-->
        <association property="otypes" javaType="com.XYJ.pojo.Otype">
            <id column="otypeid" property="otypeid"></id>
            <result column="oo" property="otype"></result>
        </association>
        <association property="registrationstatuss" javaType="com.XYJ.pojo.Registrationstatus">
            <id column="registrationstatusid" property="registrationstatusid"></id>
            <result column="rr" property="registrationstatus"></result>
        </association>
        <association property="areanews" javaType="com.XYJ.pojo.Areanew">
            <result column="whole_name" property="wholeName"></result>
            <result column="count" property="pinYin"></result>
            <result column="zipCode" property="zipCode"></result>
        </association>
        <association property="userststus" javaType="com.XYJ.pojo.Userststus">
            <result column="userstatusid" property="userstatusid"></result>
            <result column="usstatus" property="status"></result>
        </association>
        <association property="organizeaudits" javaType="com.XYJ.pojo.Organizeaudit">
            <id column="auditid" property="auditid"></id>
            <result column="reviewerid" property="reviewerid"></result>
            <result column="eta" property="eta"></result>
            <result column="feedback" property="feedback"></result>
        </association>
        <association property="auditstatus" javaType="com.XYJ.pojo.Auditstatus">
            <id column="auditstatusid" property="auditstatusid"></id>
            <result column="shstatus" property="status"></result>
        </association>
    </resultMap>

    <select id="selectByOID" resultMap="rs1">
        select *,otype.otype as oo ,
               registrationstatus.registrationstatus as rr,
               (select count(*) from omembers where omembers.organizationid = organization.organizationid and omembers.memberstatusid = 1) as count,
                (select sum(distribute.volunteerhours) from distribute,activity,organization where distribute.activityid = activity.activityid and activity.organizationid = organization.organizationid) as zipCode
        from organization
          left join  otype on organization.otype = otype.otypeid
          left join  registrationstatus on organization.registrationstatus = registrationstatus.registrationstatusid
          left join  areanew on areanew.area_code = organization.district
        where
            userstatusid in (1,3) and organizationid =#{organizationid};
    </select>

    <select id="selectByOIDAll" resultMap="rs1">
        select *,auditstatus.status as shstatus,otype.otype as oo ,registrationstatus.registrationstatus as rr,userststus.status as usstatus,(select count(*) from omembers where omembers.organizationid = organization.organizationid and omembers.memberstatusid = 1) as count
        from organization
        left join otype on  organization.otype = otype.otypeid
        left join registrationstatus on organization.registrationstatus = registrationstatus.registrationstatusid
        left join areanew on areanew.area_code = organization.district
        left join userststus on userststus.userstatusid = organization.userstatusid
        left join organizeaudit on organizeaudit.organizationid = organization.organizationid
        left join auditstatus on organizeaudit.auditstatusid = auditstatus.auditstatusid
        where organization.organizationid =#{organizationid};
    </select>

    <select id="selectOinfoByOID" resultType="com.XYJ.pojo.Organization">
        select organizationid,phone,name,oname,userstatusid from organization where  organizationid =#{organizationid};
    </select>

    <select id="selectOraganizationVFY" resultMap="rs1">
        select *,otype.otype as oo ,registrationstatus.registrationstatus as rr,areanew.whole_name,(select count(*) from omembers where organization.organizationid = omembers.organizationid ) as count from organization
          left join otype on organization.otype = otype.otypeid
          left join registrationstatus on organization.registrationstatus = registrationstatus.registrationstatusid and  userstatusid in (1,3)
          left join areanew on organization.district = areanew.area_code and  areanew.`level` = 3
        <where>
            organization.userstatusid in (1,3)
             <if test="organization.otype != 0">
                and organization.otype = #{organization.otype}
             </if>
            <if test="organization.organizationid != null and organization.organizationid != '' ">
                and organization.organizationid like
                concat('%',#{organization.organizationid},'%')
            </if>
            <if test="organization.oname != null and organization.oname != '' ">
                and organization.oname like
                concat('%',#{organization.oname},'%')
            </if>
        </where>
        order by organization.registrationtime limit #{begin},#{size};
    </select>
    <select id="selectOraganizationVCount" resultType="java.lang.Integer">
        select count(*) from organization
        left join otype on organization.otype = otype.otypeid
        left join registrationstatus on organization.registrationstatus = registrationstatus.registrationstatusid and  userstatusid in (1,3)
        left join areanew on organization.district = areanew.area_code and  areanew.`level` = 3
        <where>
            organization.userstatusid in (1,3)
            <if test="otype != 0">
                and organization.otype = #{otype}
            </if>
            <if test="organizationid != null and organizationid != '' ">
                and organization.organizationid like
                concat('%',#{organizationid},'%')
            </if>
            <if test="oname != null and oname != '' ">
                and organization.oname like
                concat('%',#{oname},'%')
            </if>
        </where>
    </select>


    <update id="updateOinfo">
        update organization
        <set>
            <if test="otype != null and otype != ''" >
                otype = #{otype},
            </if>
            <if test="registrationstatus != null and registrationstatus != ''" >
                registrationstatus = #{registrationstatus},
            </if>
            <if test="unifiedcode != null and unifiedcode != ''" >
                unifiedcode = #{unifiedcode},
            </if>
            <if test="name != null and name != ''" >
                `name` = #{name},
            </if>
            <if test="idnumber != null and idnumber != ''" >
                idnumber = #{idnumber},
            </if>
            <if test="oname != null and oname != ''" >
                oname = #{oname},
            </if>
            <if test="province != null and province != ''" >
                province = #{province},
            </if>
            <if test="city != null and city != ''" >
                city = #{city},
            </if>
            <if test="district != null and district != ''" >
                district = #{district},
            </if>
            <if test="oaddress != null and oaddress != ''" >
                oaddress = #{oaddress},
            </if>
            <if test="oemail != null and oemail != ''" >
                oemail = #{oemail},
            </if>
            <if test="ointroduce != null and ointroduce != ''" >
                ointroduce = #{ointroduce},
            </if>
            <if test="pictureaddress != null and pictureaddress != ''" >
                pictureaddress = #{pictureaddress},
            </if>
                userstatusid = 4,
        </set>
        where organizationid = #{organizationid}
    </update>


    <select id="selectOraganizationAdminCount" resultType="java.lang.Integer">
        select count(*) from organization
        left join otype on otype.otypeid = organization.otype
        left join registrationstatus on registrationstatus.registrationstatusid = organization.registrationstatus
        left join areanew on areanew.area_code = organization.district
        left join userststus on userststus.userstatusid = organization.userstatusid
        left join organizeaudit on organizeaudit.organizationid = organization.organizationid
        left join auditstatus on auditstatus.auditstatusid = organizeaudit.auditstatusid
<where>
    <if test="organizationid != null and organizationid != '' ">
        and organization.organizationid = #{organizationid}
    </if>
    <if test="userstatusid != null and userstatusid != '' ">
        and organization.userstatusid = #{userstatusid}
    </if>
</where>

    </select>
    <select id="selectOraganizationAdminFY" resultMap="rs1">
        select *,auditstatus.status as shstatus,userststus.status as usstatus from organization
        left join otype on otype.otypeid = organization.otype
        left join registrationstatus on registrationstatus.registrationstatusid = organization.registrationstatus
        left join areanew on areanew.area_code = organization.district
        left join userststus on userststus.userstatusid = organization.userstatusid
        left join organizeaudit on organizeaudit.organizationid = organization.organizationid
        left join auditstatus on auditstatus.auditstatusid = organizeaudit.auditstatusid
        <where>
            <if test="organization.organizationid != null and organization.organizationid != '' ">
                and organization.organizationid = #{organization.organizationid}
            </if>
            <if test="organization.userstatusid != null and organization.userstatusid != '' ">
                and organization.userstatusid = #{organization.userstatusid}
            </if>
        </where>
        order by organization.registrationtime limit #{begin},#{size};
    </select>


</mapper>