<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace名称空间-->
<!--<mapper namespace="test">-->
<mapper namespace="com.XYJ.mapper.PoliticaliandscapeMapper">

    <select id="selectAll" resultType="com.XYJ.pojo.Politicaliandscape">
        select * from politicaliandscape;
    </select>
</mapper>