<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace名称空间-->
<!--<mapper namespace="test">-->
<mapper namespace="com.XYJ.mapper.ShenHeShuLiangMapper">

    <select id="selectindexxinx" resultType="com.XYJ.pojo.ShenHeShuLiang">
        select (select count(*) from volunteer where userstatusid in (1,3) ) as zhiyuanzsl,
               (select count(*) from volunteer where userstatusid in (1,3) and date(registrationtime) = date(now())) as jinrzhuczhiyzshul,
               (select count(*) from organization where userstatusid in (1,3)) as zuzhishul,
               (select count(*) from organizeaudit where auditstatusid =2 and date(eta) = date(now())) as jinrzhucezuzhishul,
               (select count(*) from activity where activestatusid in (1,2,3,4)) as huodongshu,
               (select count(*) from activityreview where auditid = 2  and date(eta) = date(now())) as jinrifabuhuodongshu
    </select>
</mapper>