<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace名称空间-->
<!--<mapper namespace="test">-->
<mapper namespace="com.XYJ.mapper.ShenHeShuLiangMapper">

    <select id="selectindexxinx" resultType="com.XYJ.pojo.ShenHeShuLiang">
        select (select count(*) from volunteer where userstatusid in (1,3) ) as zhiyuanzsl,
               (select count(*) from volunteer where userstatusid in (1,3) and date(registrationtime) = date(now())) as jinrzhuczhiyzshul,
               (select count(*) from organization where userstatusid in (1,3)) as zuzhishul,
               (select count(*) from organizeaudit where auditstatusid =2 and date(eta) = date(now())) as jinrzhucezuzhishul,
               (select count(*) from activity where activestatusid in (1,2,3,4)) as huodongshu,
               (select count(*) from activityreview where auditid = 2  and date(eta) = date(now())) as jinrifabuhuodongshu
    </select>
    <select id="selectv" resultType="com.XYJ.pojo.ShenHeShuLiang">
        select
        (select count(*) from activity,aapplication,volunteer where activity.activityid = aapplication.activityid and aapplication.volunteerid = volunteer.volunteerid and volunteer.volunteerid = #{volunteerid} and activity.activestatusid in (1,2,3) and aapplication.applicationstatusid = 1) as ybm,
        (select count(*) from activity,aapplication,volunteer where activity.activityid = aapplication.activityid and aapplication.volunteerid = volunteer.volunteerid and volunteer.volunteerid = #{volunteerid} and activity.activestatusid in (1,2,3) and aapplication.applicationstatusid = 4) as yqd,
        (select count(*) from activity,aapplication,volunteer where activity.activityid = aapplication.activityid and aapplication.volunteerid = volunteer.volunteerid and volunteer.volunteerid = #{volunteerid} and activity.activestatusid in (1,2,3) and aapplication.applicationstatusid = 5) as wqd,
        (select count(*) from activity,aapplication,volunteer where activity.activityid = aapplication.activityid and aapplication.volunteerid = volunteer.volunteerid and volunteer.volunteerid = #{volunteerid} and activity.activestatusid in (1,2,3) and aapplication.applicationstatusid = 3) as qj,
        (select count(*) from omembers,volunteer where omembers.volunteerid = volunteer.volunteerid and omembers.memberstatusid = 1 and volunteer.volunteerid = #{volunteerid}) as jiarudzuzhishu
    </select>
    <select id="selecto" resultType="com.XYJ.pojo.ShenHeShuLiang">
        select
            (select SUM(distribute.volunteerhours) from distribute
                                                            left join activity on activity.activityid = distribute.activityid
                                                            left join organization on organization.organizationid = activity.organizationid
             where activity.organizationid = #{organizationid}) as yff,
            (select SUM(activity.volunteerhours) from aapplication
                                                          left join activity on activity.activityid = aapplication.activityid
             where activity.organizationid = #{organizationid} and aapplication.applicationstatusid = 4) as dff,
            (select count(*) from omembers
             where memberstatusid = 1 and organizationid = #{organizationid}) as zzrs,
            (select count(*) from omembers
             where memberstatusid = 4 and organizationid = #{organizationid}) as dshcy,
            (select count(*) from applicationreview
                                      left join activity on activity.activityid = applicationreview.activityid
                                      left join organization on organization.organizationid = activity.organizationid
             where organization.organizationid = #{organizationid} and applicationreview.auditstatusid = 1) as dshbmry,
            (select count(*) from aleave
                                      left join aapplication on aapplication.applicationid = aleave.applicationid
                                      left join activity on activity.activityid = aapplication.activityid
                                      left join organization on organization.organizationid = activity.organizationid
             where organization.organizationid = #{organizationid} and aleave.statusid = 1) as dshqjry
    </select>
</mapper>