<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace名称空间-->
<!--<mapper namespace="test">-->
<mapper namespace="com.XYJ.mapper.UserMapper">

    <!--    resultType里面填类-->
    <select id="selectAll" resultType="com.XYJ.pojo.User">
            select * from volunteer;
    </select>

    <insert id="insert">
            insert into volunteer(
                    volunteerid        ,
                    phone              ,
                    password           ,
                    name               ,
                    idnumber           ,
                    gender             ,
                    birthday           ,
                    province           ,
                    city               ,
                    district           ,
        <if test="address != null and address != ''">
                    address            ,
        </if>
                    education          ,
                    occupation         ,
                    politicaliandscape ,
        <if test="email != null and email != ''">
                    email              ,
        </if>
                    volunteerhours     ,
                    volunteercoins     ,
                    credit             ,
                    registrationtime   ,
                     userstatusid      ,
                    lastlogintime      ,
                    pictureaddress
                    )
                values(
                    #{volunteerid       },
                    #{phone             },
                    #{password          },
                    #{name              },
                    #{idnumber          },
                    #{gender            },
                    #{birthday          },
                    #{province          },
                    #{city              },
                    #{district          },
        <if test="address != null and address != ''">
                    #{address           },
        </if>
                    #{education         },
                    #{occupation        },
                    #{politicaliandscape},
        <if test="email != null and email != ''">
                    #{email             },
        </if>
                    0,
                    0,
                    100,
                    now(),
                    1,
                    #{lastlogintime     },
                    #{pictureaddress    }
                    );
    </insert>


<!--    resultType="Integer"用来包装返回的结果是数值-->
    <select id="Login" resultType="java.lang.Integer">
        select count(*) from volunteer where phone = #{phone} and password = #{password};
    </select>
    <select id="selectByPhone" resultType="java.lang.Integer">
        select count(*) from volunteer where phone = #{phone};
    </select>
    <select id="selectByIdnumber" resultType="java.lang.Integer">
        select count(*) from volunteer where idnumber = #{idnumber};
    </select>
    <select id="selectByPhonePass" resultType="com.XYJ.pojo.User">
        select * from volunteer where phone = #{phone} and password = #{password};
    </select>
    <select id="selectByVIDjoinOID" resultType="com.XYJ.pojo.User">
        select volunteer.volunteerid,volunteer.name,volunteer.phone from volunteer , omembers where omembers.volunteerid = volunteer.volunteerid and omembers.organizationid = #{organizationid} and omembers.memberstatusid = 1;
    </select>


    <resultMap id="rs1" type="com.XYJ.pojo.User" >
        <id column="volunteerid" property="volunteerid" ></id>
        <result column="phone" property="phone" ></result>
        <result column="password" property="password" ></result>
        <result column="name" property="name" ></result>
        <result column="idnumber" property="idnumber" ></result>
        <result column="gender" property="gender" ></result>
        <result column="birthday" property="birthday" ></result>
        <result column="province" property="province" ></result>
        <result column="city" property="city" ></result>
        <result column="district" property="district" ></result>
        <result column="address" property="address" ></result>
<!--        <result column="education" property="education" ></result>-->
<!--        <result column="occupation" property="occupation" ></result>-->
<!--        <result column="politicaliandscape" property="politicaliandscape" ></result>-->
        <result column="email" property="email" ></result>
        <result column="volunteerhours" property="volunteerhours" ></result>
        <result column="volunteercoins" property="volunteercoins" ></result>
        <result column="credit" property="credit" ></result>
        <result column="registrationtime" property="registrationtime" ></result>
        <result column="userstatusid" property="userstatusid" ></result>
        <result column="lastlogintime" property="lastlogintime" ></result>
        <result column="pictureaddress" property="pictureaddress" ></result>
        <collection property="aleaders" ofType="com.XYJ.pojo.Aleader" >
            <id column="leaderid" property="leaderid"></id>
            <result column="activityid" property="activityid"></result>
            <result column="stafid" property="stafid"></result>
        </collection>
        <collection property="occupations" ofType="com.XYJ.pojo.Occupation" >
            <id column="occupationid" property="occupationid"></id>
            <result column="occ" property="occupation"></result>
        </collection>
        <collection property="educations" ofType="com.XYJ.pojo.Education" >
            <id column="educationid" property="educationid"></id>
            <result column="edu" property="education"></result>
        </collection>
        <collection property="politicaliandscapes" ofType="com.XYJ.pojo.Politicaliandscape" >
            <id column="politicaliandscapeid" property="politicaliandscapeid"></id>
            <result column="pol" property="politicaliandscape"></result>
        </collection>
        <collection property="areanews" ofType="com.XYJ.pojo.Areanew" >
            <result column="whole_name" property="wholeName"></result>
        </collection>
        <collection property="aapplications" ofType="com.XYJ.pojo.Aapplication" >
            <id column="applicationid" property="applicationid"></id>
            <result column="atime" property="atime"></result>
            <result column="applicationstatusid" property="applicationstatusid"></result>
            <result column="aapplicationsauditid" property="auditid"></result>
        </collection>
        <collection property="applicationreviews" ofType="com.XYJ.pojo.Applicationreview" >
            <id column="auditid" property="auditid"></id>
            <result column="leaderid" property="leaderid"></result>
            <result column="etd" property="etd"></result>
            <result column="eta" property="eta"></result>
            <result column="feedback" property="feedback"></result>
        </collection>
    </resultMap>


    <select id="selectByjoinAID" resultMap="rs1">
        select volunteer.name,volunteer.phone,volunteer.volunteerid,aleader.leaderid from volunteer , aleader where volunteer.volunteerid = aleader.stafid and aleader.activityid = #{activityid};
    </select>
    <select id="selectByVid" resultMap="rs1">
        select *,occupation.occupation as occ,education.education as edu,politicaliandscape.politicaliandscape as pol from volunteer
                          LEFT JOIN occupation on volunteer.occupation = occupation.occupationid
                          LEFT JOIN education on volunteer.education = education.educationid
                          LEFT JOIN politicaliandscape on volunteer.politicaliandscape = politicaliandscape.politicaliandscapeid
                          LEFT JOIN areanew on volunteer.district = areanew.area_code
        where volunteer.volunteerid = #{volunteerid} and areanew.`level`=3
    </select>


    <update id="updateVinfo">
        update volunteer
            <set>
                <if test="phone != null and phone != '' ">
                    phone = #{phone},
                </if>
                <if test="password != null and password != '' ">
                    password = #{password},
                </if>
                <if test="name != null and name != '' ">
                    name = #{name},
                </if>
                <if test="idnumber != null and idnumber != '' ">
                    idnumber = #{idnumber},
                </if>
                <if test="gender != null and gender != '' ">
                    gender = #{gender},
                </if>
                <if test="birthday != null and birthday != '' ">
                    birthday = #{birthday},
                </if>
                <if test="province != null and province != '' ">
                    province = #{province},
                </if>
                <if test="city != null and city != '' ">
                    city = #{city},
                </if>
                <if test="district != null and district != '' ">
                    district = #{district},
                </if>
                <if test="address != null and address != '' ">
                    address = #{address},
                </if>
                <if test="education != null and education != '' ">
                    education = #{education},
                </if>
                <if test="occupation != null and occupation != '' ">
                    occupation = #{occupation},
                </if>
                <if test="politicaliandscape != null and politicaliandscape != '' ">
                    politicaliandscape = #{politicaliandscape},
                </if>
                <if test="email != null and email != '' ">
                    email = #{email},
                </if>
                <if test="volunteerhours != null and volunteerhours != '' ">
                    volunteerhours = #{volunteerhours},
                </if>
                <if test="volunteercoins != null and volunteercoins != '' ">
                    volunteercoins = #{volunteercoins},
                </if>
                <if test="credit != null and credit != '' ">
                    credit = #{credit},
                </if>
                <if test="userstatusid != null and userstatusid != '' ">
                    userstatusid = #{userstatusid},
                </if>
                <if test="pictureaddress != null and pictureaddress != '' ">
                    pictureaddress = #{pictureaddress},
                </if>
            </set>
            where volunteerid = #{volunteerid}
    </update>
    <update id="updatehourse">
        update volunteer set volunteerhours = volunteerhours + #{volunteerhours} , volunteercoins = volunteercoins + #{volunteerhours} WHERE volunteerid in (select volunteerid from aapplication where activityid = #{activityid} and applicationstatusid = 4 GROUP BY volunteerid)
    </update>


</mapper>