<!-- 活动报名，先到先得时直接进入活动名单，状态为录取成功，审核制时先进审核表审核通过后进入活动名单。 候补无论是哪种招募方式都进入候补名单 -->



<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<script src="js/axios/dist/axios.js"></script>
		<script src="js/vue.js"></script>
		<script src="element-ui/lib/index.js"></script>
		<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
		<script src="element-china-area-data/dist/app.js"></script>
		
		<div id="app">
			<el-row>
<!-- 				<el-col :span="4">
					这里是logo
				</el-col> -->
				<el-col :span="18" :offset="4">
					<div>
						<el-row>
							<el-col :span="3" :offset="16">
								<!-- <span><el-link :underline="false" type="primary">您好，请登录</el-link></span> -->
								<span v-if="!vname"><el-link :underline="false" type="primary" :href='vlongin'>您好，请登录</el-link></span>
								<span v-if="vname"><el-link :underline="false" type="primary">您好，{{vname}}</el-link></span>
								<!-- <p v-text="vlongin"></p> -->
							</el-col>
							<el-col :span="2">
								<span v-if="!vname"><el-link :underline="false" type="primary" :href='vsignupnew'>个人注册</el-link></span>
								<span v-if="vname" @click="tcdl"><el-link :underline="false" type="primary" >退出登录</el-link></span>
							</el-col>
							<el-col :span="2">
								<span><el-link :underline="false" type="primary" :href='osignupup'>组织注册</el-link></span>
							</el-col>
<!-- 							<el-col :span="2">
								<span><el-link :underline="false" type="primary">主要链接</el-link></span>
							</el-col> --> 
						</el-row>
					</div>
					<!-- 导航栏 -->
					<div class="grid-content bg-purple daohang"> 
					<!-- select	菜单激活回调	index: 选中菜单项的 index, indexPath: 选中菜单项的 index path -->
						<el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect"  id="elmeun">
						  <el-menu-item index="1"><a :href="index" target="_blank" style="text-decoration : none">首页</a></el-menu-item>
						  <el-menu-item index="2"><a :href="vhomenew1" target="_blank" style="text-decoration : none">个人中心</a></el-menu-item>
						  <el-submenu index="3">
						    <template slot="title">志愿组织</template>
						    <el-menu-item index="2-1"><a :href="searchzuzhi" target="_blank" style="text-decoration : none">加入组织</a></el-menu-item>
						    <el-menu-item index="2-2"><a :href="osignupup" target="_blank" style="text-decoration : none">组织入驻</a></el-menu-item>
						    <el-menu-item index="2-3"><a :href="olongin" target="_blank" style="text-decoration : none">组织登录</a></el-menu-item>
						  </el-submenu>
						  <el-menu-item index="4"><a :href="searchhuodong" target="_blank" style="text-decoration : none">活动招募</a></el-menu-item>
						  <el-menu-item index="5"><a :href="alongin" target="_blank" style="text-decoration : none">管理员登录</a></el-menu-item>
						</el-menu>
					</div>
				</el-col>
			</el-row>
			<!-- 标题 -->
			<el-row type="flex" justify="center">
				<el-col :span="18">
					<div>
						<!-- <h1 style="text-align: center;">愿服务队到双山南社区开展创文巩卫活动</h1> -->
					</div>
				</el-col>
			</el-row>
			<el-row type="flex" justify="center">
				<el-col :span="18">
					<div>
						<el-card class="box-card" shadow="never" style = "border: 0px">
						  <div slot="header" class="clearfix">
						    <span><h1 style="text-align: center;">{{Activitys.title}}</h1></span>
							<div style="text-align: center;">
								<span>分类：</span><span v-if="Activitys.acstyles">{{Activitys.acstyles.acstyle}}</span> &nbsp;
								<span>发布时间：</span><span>{{Activitys.creationtime}}</span> &nbsp;
								<span>发布组织：</span><span v-if="organizations">{{organizations.oname}}</span>
							</div>
						    <!-- <el-button style="float: right; padding: 3px 0" type="text">我要举报</el-button> -->
						  </div>
						  <!-- 内容 -->
						  <div class="text item">
							  <el-card class="box-card" shadow="never">
							  <el-row>
								<el-col :span="8">
									<div style="height: 300px;" v-if="Activitys.pictureaddress">
										 <el-image
										      style="width: 90%; height: 90%"
										      :src="`http://localhost:80/upload/huodong/${Activitys.pictureaddress}`"
										      fit="cover"></el-image>
										<!-- <el-avatar shape="square" :size="325" :fit="fit" src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png"></el-avatar> -->
									</div>
								</el-col>
								<el-col :span="12">
									
										<div class="text item" style="height: 310px;">
											<el-descriptions  :column="1">
											    <el-descriptions-item label="活动类型" v-if="Activitys.acstyles"><el-tag size="small" v-text="Activitys.acstyles.acstyle"></el-tag></el-descriptions-item>
											    <!-- <el-descriptions-item label="所在区域">18100000000</el-descriptions-item> -->
											    <el-descriptions-item label="所属区域">{{Areas}}</el-descriptions-item>
											    <el-descriptions-item label="所属组织" >{{organizations.oname}}</el-descriptions-item>
												<el-descriptions-item label="报名开始时间">{{Activitys.enrolmentopeningtime}}</el-descriptions-item>
												<el-descriptions-item label="报名截止时间">{{Activitys.enrolmentdeadline}}</el-descriptions-item>
												<el-descriptions-item label="活动开始时间">{{Activitys.starttime}}</el-descriptions-item>
											</el-descriptions>
											<el-descriptions  :column="3">
												<el-descriptions-item label="招募人数">{{Activitys.numberofrequiredvolunteer}}</el-descriptions-item>
												<el-descriptions-item label="已报名人数" >{{Activitys.numberofenrolledvolunteer}}</el-descriptions-item>
												<el-descriptions-item label="录取方式" v-if="Activitys.admissionpolicys">{{Activitys.admissionpolicys.admissionpolicy}}</el-descriptions-item>
											</el-descriptions>
											
<!-- 										    <p>活动类型</p>
											<p>所属区域</p>
											<p>所属组织</p>
											<p>报名开始时间</p>
											<p>报名截止时间</p>
											<p>活动开始时间</p> -->
											<!-- <p><span>招募人数</span> <span>已报名人数</span> <span>录取方式</span></p> -->
<!-- 											<el-button type="primary" @click="zjbm">我要报名</el-button>
											<el-button type="primary" @click="shbm">我要报名</el-button> -->
											<!-- 没有到报名时间 -->
											<el-button type="primary" v-if="new Date(Activitys.enrolmentopeningtime) > new Date()" :disabled="new Date(Activitys.enrolmentopeningtime) > new Date()">报名时间未到</el-button>
											<!-- 报名时间内 -->
											<!-- <el-button type="primary" @click="bm" v-if="new Date(Activitys.enrolmentopeningtime) < new Date() && new Date(Activitys.enrolmentdeadline) > new Date()">我要报名</el-button> -->
											<!-- 报名时间已过 -->
											<!-- <el-button type="primary" v-if="new Date(Activitys.enrolmentdeadline) < new Date()" :disabled="new Date(Activitys.enrolmentdeadline) < new Date()">报名已截止</el-button> -->
											
											<!-- 报名时间内 -->
											<div v-if="new Date(Activitys.enrolmentopeningtime) < new Date() && new Date(Activitys.enrolmentdeadline) > new Date()">
												<el-button type="primary" @click="bm" v-if=" applicationcount ==0 && applicationcountjoin == 0">我要报名</el-button>
												<el-button type="success"  v-if=" applicationcount !=0" :disabled="applicationcount !=0">已录取</el-button>
												<el-button type="warning"  v-if=" applicationcountjoin != 0" :disabled="applicationcountjoin != 0">报名审核中</el-button>
											</div>
											
											<div v-if="new Date(Activitys.enrolmentdeadline) < new Date()">
												<el-button type="primary"  v-if=" applicationcount ==0 && applicationcountjoin == 0" :disabled="new Date(Activitys.enrolmentdeadline) < new Date()">报名已截止</el-button>
												<el-button type="success"  v-if=" applicationcount !=0" :disabled="applicationcount !=0">已录取</el-button>
												<el-button type="warning"  v-if=" applicationcountjoin != 0" :disabled="applicationcountjoin != 0">报名审核中</el-button>
											</div>
											
											
											<!-- 录取方式为先到先得，当前时间小于报名截止时间，同时状态为已报名，则显示取消报名 -->
											<!-- <el-button type="primary" @click="bm" v-if="Activitys.admissionpolicy==1 &&applications.applicationstatusid === 1 && new Date(Activitys.enrolmentdeadline) > new Date()">取消报名</el-button> -->
											<!-- 录取方式为审核制，当前时间小于报名截止时间，同时状态为已报名，则显示取消报名 -->
											<!-- <el-button type="primary" @click="bm" v-if="Activitys.admissionpolicy!=1 &&applications.applicationstatusid === 1 && new Date(Activitys.enrolmentdeadline) > new Date()">取消报名</el-button> -->
										</div>
										    
									
								</el-col>
							  </el-row>
							  <el-card class="box-card" shadow="never">
							    <div slot="header" class="clearfix">
							      <span>活动ID：</span>
							    </div>
							    <div  class="text item">
							      {{Activitys.activityid}}
							    </div>
							  </el-card>
							  <el-card class="box-card" shadow="never">
							    <div slot="header" class="clearfix">
							      <span>活动细则：</span>
							    </div>
							    <div  class="text item">
							      {{Activitys.introduction}}
							    </div>
							  </el-card>
							  <el-card class="box-card" shadow="never">
							    <div slot="header" class="clearfix">
							      <span>活动开始时间：</span>
							    </div>
							    <div  class="text item">
							      {{Activitys.starttime}}
							    </div>
							  </el-card>
							  <el-card class="box-card" shadow="never">
							    <div slot="header" class="clearfix">
							      <span>活动结束时间：</span>
							    </div>
							    <div class="text item">
							      {{Activitys.endtime}}
							    </div>
							  </el-card>
							  <el-card class="box-card" shadow="never">
							    <div slot="header" class="clearfix">
							      <span>志愿时长：</span>
							    </div>
							    <div class="text item">
							      {{Activitys.volunteerhours}} 小时
							    </div>
							  </el-card>
							  <el-card class="box-card" shadow="never">
							    <div slot="header" class="clearfix">
							      <span>信用分要求：</span>
							    </div>
							    <div class="text item">
							      {{Activitys.creditscorerequirement}}
							    </div>
							  </el-card>
							  <el-card class="box-card" shadow="never">
							    <div slot="header" class="clearfix">
							      <span>是否允许请假：</span>
							    </div>
							    <div class="text item" v-if="Activitys.leaveapproval == 0">
							      不允许请假
							    </div>
								<div class="text item" v-if="Activitys.leaveapproval == 1">
								  允许请假
								</div>
							  </el-card>
							  <el-card class="box-card" shadow="never">
							    <div slot="header" class="clearfix">
							      <span>活动地点：</span>
							    </div>
							    <div class="text item">							 
								 <p>{{Activitys.place}}</p>
							    </div>
							  </el-card>
							  <el-card class="box-card" shadow="never">
							    <div slot="header" class="clearfix">
							      <span>联系方式：</span>
							    </div>
							    <div  class="text item" v-if="Activitys.havealeader == 0">
							      {{organizations.name}}{{organizations.phone}}
<!-- 								  {{Activitys.havealeader}} -->
							    </div>
								<div v-for="(o,index) in leaders" :key="index" class="text item" v-if="Activitys.havealeader == 1">
								  {{o.name + o.phone}}
								</div>
							  </el-card> 
							</el-card>  
						  </div>
						</el-card>
					</div>
				</el-col>
			</el-row>
			
		</div>
		
		<script>
			new Vue({
				el:"#app",
				created() {
					this.local = window.location.pathname.substring(0,window.location.pathname.lastIndexOf('/'))
					this.vlongin = this.local + '/vlongin.html'
					this.vsignupnew = this.local + '/vsignupnew.html'
					this.vhomenew1 = this.local + '/vhomenew1.html'
					this.osignupup = this.local + '/osignupup.html'
					this.searchzuzhi = this.local + '/searchzuzhi.html'
					this.olongin = this.local + '/olongin.html'
					this.searchhuodong = this.local + '/searchhuodong.html'
					this.alongin = this.local + '/alongin.html'
					this.index = this.local + '/index.html'
					this.sendinfo.stafid=this.baomyanzform.volunteerid =this.sendinfo.volunteerid = localStorage.getItem('vid')
					this.vname=localStorage.getItem('vname'),
					// 调用方法获取url参数
					this.getQueryString();
					this.sendinfo.activityid = this.query.activityid;
					this.selectByAcstyleidjoin()
					
				},
				data(){
					return {
						local:'',
						vlongin : '',
						vsignupnew:'',
						vhomenew1:'',
						osignupup:'',
						index:'',
						searchzuzhi:'',
						olongin:'',
						searchhuodong:'',
						alongin:'',
						activeIndex: '4',
						
						// url传参
						query:{},
						// 省市区
						Areas:'',
						// 查找组织信息
						organizations:'',
						Activitys:'',
						vname:'',
						vlongin:'',
						vsignupnew:'',
						// 活动管理员信息
						leaders:'',
						applicationcount:0,
						applicationcountjoin:0,
						sendinfo:{
							// 活动id
							activityid:'',
							volunteerid:'',
							auditid:'',
							numberofenrolledvolunteer:'',
							applicationstatusid: 1,
							stafid:''
						},
						aleadercount:'',
						baomyanzform:{
							volunteerid:'',
							starttime:'',
							endtime:''
						},
						count:'',
						credit:'',
						creditscorerequirement:''
					};
				},
				 methods: {
					 handleSelect(key, keyPath) {
					   console.log(key, keyPath);
					 },
					// url参数获取
					getQueryString(){
					  let params = location.search.split('?')[1]; // 获取?号后面的参数 name=&age=
					  if (!params){
							// return null;// 如果无参，返回null
							location.href = './searchhuodong.html'
					  }else{
							let paramss = params.split("&"); // 将参数分割成数组 ['name=mick', 'age=20']
							for (let i = 0; i < paramss.length; i++) {
								let pair = paramss[i].split("="); // 将参数的key和值进行分割成 ['name', 'mick']
								let key = decodeURIComponent(pair[0]); // 参数key
								console.log(pair)
								console.log(key)
								let value = decodeURIComponent(pair[1]); // 参数值
								this.query[key]=value
							}
							return null;
							}
					}, 
					
					// 获取省市区信息
					SelectadressByAreaID(){
						axios({
						    method:"post",
						    url:"http://localhost:8080/Yzhiyuan365/Area/SelectadressByAreaID?district="+this.Activitys.district,
							// headers:headers,
							headers:{
								vtoken:localStorage.getItem('vtoken')
							},
							// data:this.aa,
						  }).then((resp)=>{
							console.log(resp.data)
							this.Areas=resp.data
						  }).catch((error)=> {
						    console.log(error.response);//可以拿到后端返回的信息
						  });
					},
					// 查找组织信息
					selectOinfoByOID(){
						console.log(this.Activitys.organizationid)
						axios({
						    method:"post",
						    url:"http://localhost:8080/Yzhiyuan365/organization/selectOinfoByOID?organizationid="+this.Activitys.organizationid,
							// headers:headers,
							headers:{
								vtoken:localStorage.getItem('vtoken')
							},
							// data:this.aa,
						  }).then((resp)=>{
						    // console.log(resp)
							console.log(resp.data)
							// 得到类别中文
							// console.log(resp.data[0].acstyles.acstyle)
							// console.log(resp.data.datalist)
							this.organizations=resp.data[0]
						  }).catch((error)=> {
						    console.log(error.response);//可以拿到后端返回的信息
						  });
					},
					
					// 联合查询，通过活动id找到活动管理员信息
					selectByjoinAID(){
						console.log(this.Activitys.activityid)
						axios({
						    method:"post",
						    url:"http://localhost:8080/Yzhiyuan365/user/selectByjoinAID?activityid="+this.Activitys.activityid,
							headers:{
								vtoken:localStorage.getItem('vtoken')
							},
						  }).then((resp)=>{
						    // console.log(resp)
							console.log(resp.data)
							// 得到类别中文
							// console.log(resp.data[0].acstyles.acstyle)
							// console.log(resp.data.datalist)
							this.leaders=resp.data
						  }).catch((error)=> {
						    console.log(error.response);//可以拿到后端返回的信息
						  });
					},
					// 联合查询，查询活动的类别 活动的整体信息
					selectByAcstyleidjoin(){
						axios({
						    method:"post",
						    url:"http://localhost:8080/Yzhiyuan365/Activity/selectByAcstyleidjoin?activityid=" + this.query.activityid,
							// headers:headers,
							headers:{
								vtoken:localStorage.getItem('vtoken')
							},
							// data:this.aa,
						  }).then((resp)=>{
						    // console.log(resp)
							console.log(resp.data)
							// 得到类别中文
							// console.log(resp.data[0].acstyles.acstyle)
							// console.log(resp.data[0].havealeader)
							this.Activitys=resp.data[0]
							this.sendinfo.numberofenrolledvolunteer = resp.data[0].numberofenrolledvolunteer <= 0? 1 : 2
							this.baomyanzform.starttime = resp.data[0].starttime
							this.baomyanzform.endtime = resp.data[0].endtime
							this.creditscorerequirement = resp.data[0].creditscorerequirement
							this.SelectadressByAreaID()
							this.selectOinfoByOID()
							this.baomingyanz()
							this.selectByVAIDjoinCOUNT()
							this.selectByVAIDCOUNT()
							console.log(this.baomyanzform)
							// 如果有活动管理员就去活动管理员表搜索管理员的信息
							if(resp.data[0].havealeader == 1){
								this.selectByjoinAID()
								this.selectcount()
							}
						  }).catch((error)=> {
						    console.log(error.resp);//可以拿到后端返回的信息
						  });
					},
					// 判断用户是否已经报名
					selectByVAIDCOUNT(){
						axios({
							method:"post",
							url:"http://localhost:8080/Yzhiyuan365/aapplication/selectByVAIDCOUNT",
							data:this.sendinfo
						}).then((resp)=>{
							console.log(resp.data)
							this.applicationcount = resp.data
						}).catch((resp)=>{
							console.log(error.resp)
						})
					},
					
					selectByVAIDjoinCOUNT(){
						axios({
							method:"post",
							url:"http://localhost:8080/Yzhiyuan365/aapplication/selectByVAIDjoinCOUNT",
							data:this.sendinfo
						}).then((resp)=>{
							console.log(resp.data)
							this.applicationcountjoin = resp.data
						}).catch((resp)=>{
							console.log(error.resp)
						})
					},
					
					// 判断是否活动管理员
					selectcount(){
						axios({
							method:"post",
							url:"http://localhost:8080/Yzhiyuan365/aleader/selectcount",
							data:this.sendinfo
						}).then((resp)=>{
							console.log(resp.data)
							this.aleadercount = resp.data
						}).catch((resp)=>{
							console.log(error.resp)
						})
					},
					// 报名
					bm(){
						if(!localStorage.getItem('vid')){
							this.$message.error('未登录，请先登录');
							window.open('./vlongin.html'); 
							return
						}
						this.selectcount()
						this.selectByVAIDCOUNT()
						this.selectByVAIDjoinCOUNT()
						if(this.aleadercount != 0){
							this.$message.error("管理员不能报名")
						}else if(this.applicationcount != 0){
							this.$message.error("你已报名该活动")
						}else if(this.applicationcountjoin != 0){
							this.$message.error("你已报名该活动")
						}else{
							this.baomingyanz()
							if(this.credit < this.creditscorerequirement){
								this.$message.error("信用分不符合要求")
							}else if(this.count >0){
								this.$message.error("与其他已报名活动时间冲突")
							}else{
								if(this.Activitys.admissionpolicy==1){
									this.zjbm();	
								}else{
									this.shbm();
							}
						}
					  }
						
					},
					// 我要报名  先到先得
					zjbm(){
						this.sendinfo.auditid = 0
						if(this.Activitys.numberofrequiredvolunteer<=this.Activitys.numberofenrolledvolunteer){
							this.$message.error('人员已招满')
						}else{
						console.log(this.sendinfo.auditid)
						axios({
							method:"post",
							url:"http://localhost:8080/Yzhiyuan365/aapplication/insert",
							data:this.sendinfo
						}).then((resp)=>{
							console.log(resp.data)
							this.$message.success("报名成功")
							this.selectByAcstyleidjoin();
						}).catch((resp)=>{
							console.log(error.resp)
						})
						}
					},
					
					// 我要报名  审核制
					shbm(){
						this.selectByAcstyleidjoin()
						if(this.Activitys.numberofrequiredvolunteer<=this.Activitys.numberofenrolledvolunteer){
							this.$message.error('人员已招满')
						}else{
							console.log(this.sendinfo.auditid)
							axios({
								method:"post",
								url:"http://localhost:8080/Yzhiyuan365/applicationreview/insert",
								data:this.sendinfo
							}).then((resp)=>{
								console.log(resp.data)
								this.$message.success("提交报名申请，请等待审核")
								this.selectByAcstyleidjoin();
							}).catch((resp)=>{
								console.log(error.resp)
							})
						}

					},
					
					baomingyanz(){
						console.log(this.baomyanzform)
						axios({
							method:"post",
							url:"http://localhost:8080/Yzhiyuan365/user/baomingyanz?vid="+localStorage.getItem('vid'),
							data:this.baomyanzform
						}).then((resp)=>{
							this.count = resp.data['total']
							this.credit = resp.data['shuju'][0].credit
							console.log(resp.data)
							console.log(resp.data['total'])
							console.log(resp.data['shuju'][0].credit)
						}).catch((resp)=>{
							console.log(error.resp)
						})
					},
					
					tcdl(){
						localStorage.removeItem('vtoken')
						localStorage.removeItem('vname')
						localStorage.removeItem('vphone')
						localStorage.removeItem('vid')
						location.reload()
					}
				}
			})
		</script>
	</body>
</html>