<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<script src="js/axios/dist/axios.js"></script>
		<script src="js/vue.js"></script>
		<script src="element-ui/lib/index.js"></script>
		<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
		<script src="element-china-area-data/dist/app.js"></script>
		
		<div id="app">
			<el-row>
				<!-- <el-col :span="4">
					这里是logo
				</el-col> -->
				<el-col :span="18" :offset="4">
					<div>
						<el-row>
							<el-col :span="3" :offset="16">
								<span v-if="!vname"><el-link :underline="false" type="primary" :href='vlongin'>您好，请登录</el-link></span>
								<span v-if="vname"><el-link :underline="false" :href="vhomenew1" type="primary">您好，{{vname}}</el-link></span>
								<!-- <p v-text="vlongin"></p> -->
							</el-col>
							<el-col :span="2">
								<span v-if="!vname"><el-link :underline="false" type="primary" :href='vsignupnew'>个人注册</el-link></span>
								<span v-if="vname" @click="tcdl">
								<el-link :underline="false" type="primary" href='#'>退出登录</el-link></span>
							</el-col>
							<el-col :span="2">
								<span><el-link :underline="false" type="primary" :href='osignupup'>组织注册</el-link></span>
							</el-col>
						</el-row>
					</div>
					<!-- 导航栏 -->
					<div> 
					<el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect"  id="elmeun">
					  <el-menu-item index="1"><a :href="index" target="_blank" style="text-decoration : none">首页</a></el-menu-item>
					  <el-menu-item index="2"><a :href="vhomenew1" target="_blank" style="text-decoration : none">个人中心</a></el-menu-item>
					  <el-submenu index="3">
					    <template slot="title">志愿组织</template>
					    <el-menu-item index="2-1"><a :href="searchzuzhi" target="_blank" style="text-decoration : none">加入组织</a></el-menu-item>
					    <el-menu-item index="2-2"><a :href="osignupup" target="_blank" style="text-decoration : none">组织入驻</a></el-menu-item>
					    <el-menu-item index="2-3"><a :href="olongin" target="_blank" style="text-decoration : none">组织登录</a></el-menu-item>
					  </el-submenu>
					  <el-menu-item index="4"><a :href="searchhuodong" target="_blank" style="text-decoration : none">活动招募</a></el-menu-item>
					  <el-menu-item index="5"><a :href="alongin" target="_blank" style="text-decoration : none">管理员登录</a></el-menu-item>
					</el-menu>
					</div>
				</el-col>
			</el-row>
			<!-- 标题 -->
			<el-row type="flex" justify="center">
				<el-col :span="18">
					<div>
						<!-- <h1 style="text-align: center;">愿服务队到双山南社区开展创文巩卫活动</h1> -->
					</div>
				</el-col>
			</el-row>
			<el-row type="flex" justify="center">
				<el-col :span="18">
					<div>
						<el-card class="box-card" shadow="never" style = "border: 0px">
						  <div slot="header" class="clearfix">
						    <span><h1 style="text-align: center;" v-text="organizations.oname"></h1></span>
<!-- 							<div style="text-align: center;">
								<span>分类：</span>
								<span>发布时间：</span>
								<span>发布组织：</span>
							</div> -->
						    <el-button style="float: right; padding: 3px 0" type="text">我要举报</el-button>
						  </div>
						  <!-- 内容 -->
						  <div class="text item">
							  <el-card class="box-card" shadow="never">
							  <el-row>
								<el-col :span="8">
									<div style="height: 300px;">
										<el-image
										     style="width: 100%; height: 100%"
										     :src="`http://localhost:80/upload/zuzhi/${organizations.pictureaddress}`"
										     fit="cover"></el-image>
										<!-- <el-avatar shape="square" :size="325" :fit="fit" src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png"></el-avatar> -->
									</div>
								</el-col>
								<el-col :span="12">
									
										<div class="text item" style="height: 310px;">
											<!-- 描述列表，一行一项 -->
											<el-descriptions  :column="1">
											    <el-descriptions-item label="组织类型" v-if="organizations.otypes"><el-tag size="small" v-text="organizations.otypes.otype"></el-tag></el-descriptions-item>
											    <!-- <el-descriptions-item label="所在区域">18100000000</el-descriptions-item> -->
											    <el-descriptions-item label="登记状况"v-if="organizations.registrationstatuss">{{organizations.registrationstatuss.registrationstatus}}</el-descriptions-item>
											    <el-descriptions-item label="注册时间" >{{organizations.registrationtime}}</el-descriptions-item>
												<el-descriptions-item label="组织人数" v-if="organizations.areanews">{{organizations.areanews.pinYin}}人</el-descriptions-item>
												<el-descriptions-item label="组织负责人">{{organizations.name}}</el-descriptions-item>
												<el-descriptions-item label="活动时长" v-if="organizations.areanews">{{organizations.areanews.zipCode}}</el-descriptions-item>
											    <el-descriptions-item label="联系地址">{{Areas}}&nbsp;{{organizations.oaddress}} </el-descriptions-item>
											</el-descriptions>
											<el-button type="warning"  v-if="count.zuzhiluquzhong != 0 && count.zuzhiyiluq == 0 && count.zuzhiheimingdan == 0" :disabled="count.zuzhiluquzhong != 0 && count.zuzhiyiluq == 0 && count.zuzhiheimingdan == 0">申请审核中</el-button>
											<el-button type="primary" @click="sqjr" v-if="count.zuzhiluquzhong == 0 && count.zuzhiyiluq == 0 && count.zuzhiheimingdan == 0">申请加入</el-button>
											<el-button type="success"  v-if="count.zuzhiluquzhong == 0 && count.zuzhiyiluq != 0 && count.zuzhiheimingdan == 0" :disabled="count.zuzhiluquzhong == 0 && count.zuzhiyiluq != 0 && count.zuzhiheimingdan == 0">已加入该组织</el-button>
											<el-button type="danger" v-if="count.zuzhiluquzhong == 0 && count.zuzhiyiluq == 0 && count.zuzhiheimingdan != 0" :disabled="count.zuzhiluquzhong == 0 && count.zuzhiyiluq == 0 && count.zuzhiheimingdan != 0">无法加入该组织</el-button>
										</div>
										    
									
								</el-col>
							  </el-row>
							  <el-card class="box-card" shadow="never">
							    <div slot="header" class="clearfix">
							      <span>组织介绍</span>
							    </div>
							    <div  class="text item" style="word-break: break-all;">
							      {{organizations.ointroduce}}
							    </div>
							  </el-card>
							  <el-card class="box-card" shadow="never" style="height: 300px;">
							    <div slot="header" class="clearfix">
							      <span>进行中的活动</span>
							    </div>
							    <div  class="text item">
							       <el-table
							            :data="tableDatajxz"
							            style="width: 100%">
							            <el-table-column
							              prop="title"
							              label="活动名称"
							              width="180">
							            </el-table-column>
							            <el-table-column
							              prop="volunteerhours"
							              label="志愿时长"
							              width="180">
							            </el-table-column>
							            <el-table-column
							              prop="starttime"
							              label="活动开始时间">
							            </el-table-column>
							          </el-table>
							    </div>
							  </el-card>
							  <el-card class="box-card" shadow="never" style="height: 300px;">
							    <div slot="header" class="clearfix">
							      <span>历史活动</span>
							    </div>
							    <div  class="text item">
							       <el-table
							            :data="tableDatals"
							            style="width: 100%">
							            <el-table-column
							              prop="title"
							              label="活动名称"
							              width="180">
							            </el-table-column>
							            <el-table-column
							              prop="volunteerhours"
							              label="志愿时长"
							              width="180">
							            </el-table-column>
							            <el-table-column
							              prop="endtime"
							              label="结束时间">
							            </el-table-column>
							          </el-table>
							    </div>
							  </el-card>

							</el-card>  
						  </div>
						</el-card>
					</div>
				</el-col>
			</el-row>
			
		</div>
		
		<script>
			new Vue({
				el:"#app",
				created() {
					this.local = window.location.pathname.substring(0,window.location.pathname.lastIndexOf('/'))
					this.vlongin = this.local + '/vlongin.html'
					this.vsignupnew = this.local + '/vsignupnew.html'
					this.vhomenew1 = this.local + '/vhomenew1.html'
					this.osignupup = this.local + '/osignupup.html'
					this.searchzuzhi = this.local + '/searchzuzhi.html'
					this.olongin = this.local + '/olongin.html'
					this.searchhuodong = this.local + '/searchhuodong.html'
					this.alongin = this.local + '/alongin.html'
					
					
					
					
					
					this.vname=localStorage.getItem('vname'),
					// 调用方法获取url参数
					this.getQueryString();
					console.log(this.query.organizationid);
					// 获取组织详细信息
					this.selectByOID();
					// console.log(this.organizations);
					// this.SelectadressByAreaID();
					// console.log(this.organizations.district)
					 this.ov.volunteerid=localStorage.getItem('vid')
					
					 console.log("我是"+localStorage.getItem('vid'))
					this.formls.organizationid = this.formjxz.organizationid =this.ov.organizationid=this.query.organizationid
					// 
					// this.SelectomamberByOVID();
					// this.SelectojoinByOVID();
					this.selectpanduanshifoukeyjiaruzuzhi();
					this.lshd();
					this.jxz();
				},
				data(){		
					return {
						local:'',
						vlongin : '',
						vsignupnew:'',
						vhomenew1:'',
						osignupup:'',
						index:'',
						searchzuzhi:'',
						olongin:'',
						searchhuodong:'',
						alongin:'',
						activeIndex: '3',
						

						Activitys:'',
						vname:'',
						// 登录页的跳转地址
						// vlongin:'',
						// 注册页的跳转地址
						// vsignupnew:'',
						// 存放url参数 ?后面
						query:{},
						// 组织信息
						organizations:'',
						// 省市区
						Areas:'',
						ov:{
							volunteerid:'',
							organizationid:''
						},
						count:'',
						omembers:'',
						ojoins:'',
						formls:{
							organizationid:'',
							activestatusid:4
						},
						tableDatajxz:[],
						formjxz:{
							organizationid:'',
							activestatusid:3
						},
						tableDatals:[],
					};
				},
				 methods: {
					// selectByOID(){
					// 	console.log(this.query.organizationid)
					// 	axios({
					// 	    method:"post",
					// 	    url:"http://localhost:8080/Yzhiyuan365/organization/selectByOID?organizationid="+this.query.organizationid,
					// 		// headers:headers,
					// 		headers:{
					// 			vtoken:localStorage.getItem('vtoken')
					// 		},
					// 		// data:this.aa,
					// 	  }).then((resp)=>{
					// 	    // console.log(resp)
					// 		console.log(resp.data)
					// 		// 得到类别中文
					// 		// console.log(resp.data[0].acstyles.acstyle)
					// 		// console.log(resp.data.datalist)
					// 		this.organizations=resp.data
					// 	  }).catch((error)=> {
					// 	    console.log(error.response);//可以拿到后端返回的信息
					// 	  });
					// },
					handleSelect(key, keyPath) {
					  console.log(key, keyPath);
					},
					// url参数获取
					getQueryString(){
					  let params = location.search.split('?')[1]; // 获取?号后面的参数 name=&age=
					  if (!params){
							// return null;// 如果无参，返回null
							location.href = this.searchzuzhi
					  }else{
							let paramss = params.split("&"); // 将参数分割成数组 ['name=mick', 'age=20']
							for (let i = 0; i < paramss.length; i++) {
								let pair = paramss[i].split("="); // 将参数的key和值进行分割成 ['name', 'mick']
								let key = decodeURIComponent(pair[0]); // 参数key
								console.log(pair)
								console.log(key)
								let value = decodeURIComponent(pair[1]); // 参数值
								this.query[key]=value
							}
							return null;
							}
					},
					
					// 通过活动类型编号查找活动类型
					selectByOID(){
						// console.log(this.query.organizationid)
						axios({
						    method:"post",
						    url:"http://localhost:8080/Yzhiyuan365/organization/selectByOID?organizationid="+this.query.organizationid,
							// headers:headers,
							headers:{
								vtoken:localStorage.getItem('vtoken')
							},
						  }).then((resp)=>{
							console.log(resp.data)
							this.organizations=resp.data
							this.SelectadressByAreaID()  
						  }).catch((error)=> {
						    console.log(error.response);//可以拿到后端返回的信息
						  });
					},
					
					// 获取省市区信息
					SelectadressByAreaID(){
						axios({
						    method:"post",
						    url:"http://localhost:8080/Yzhiyuan365/Area/SelectadressByAreaID?district="+this.organizations.district,
							// headers:headers,
							headers:{
								vtoken:localStorage.getItem('vtoken')
							},
						  }).then((resp)=>{
							console.log(resp.data)
							this.Areas=resp.data
						  }).catch((error)=> {
						    console.log(error.response);//可以拿到后端返回的信息
						  });
					},
					// //查找是否已加入组织或已退出组织或被拉黑,如果已退出组织查询是否有新的申请记录
					// SelectomamberByOVID(){
					// 	axios({
					// 	    method:"post",
					// 	    url:"http://localhost:8080/Yzhiyuan365/Omembers/selectByOVid",
					// 		// headers:headers,
					// 		headers:{
					// 			vtoken:localStorage.getItem('vtoken')
					// 		},
					// 		data:this.ov
					// 	  }).then((resp)=>{
					// 		console.log(resp.data)
					// 		this.omembers = resp.data[0]
					// 	  }).catch((error)=> {
					// 	    console.log(error.response);//可以拿到后端返回的信息
					// 	  });
					// },
					
					// // 查找是否已经在申请中
					// SelectojoinByOVID(){
					// 	axios({
					// 	    method:"post",
					// 	    url:"http://localhost:8080/Yzhiyuan365/ojoin/selectByOVid",
					// 		// headers:headers,
					// 		headers:{
					// 			vtoken:localStorage.getItem('vtoken')
					// 		},
					// 		data:this.ov
					// 	  }).then((resp)=>{
					// 		console.log(resp.data)
					// 		this.ojoins = resp.data[0]
					// 	  }).catch((error)=> {
					// 	    console.log(error.response);//可以拿到后端返回的信息
					// 	  });
					// },
					
					selectpanduanshifoukeyjiaruzuzhi(){
						axios({
							method:"post",
							url:"http://localhost:8080/Yzhiyuan365/ojoin/selectpanduanshifoukeyjiaruzuzhi",
							// headers:headers,
							headers:{
								vtoken:localStorage.getItem('vtoken')
							},
							data:this.ov
						}).then((resp)=>{
							console.log(resp.data)
							this.count = resp.data[0]
							console.log(this.count)
						}).catch((error)=> {
							console.log(error.response);//可以拿到后端返回的信息
						});
					},
					// 按钮事件
					sqjr(){
						if(!localStorage.getItem('vid')){
							this.$message.error('未登录，请先登录');
							window.open('./vlongin.html'); 
							return
						}
						axios({
						    method:"post",
						    url:"http://localhost:8080/Yzhiyuan365/ojoin/insert",
							// headers:headers,
							headers:{
								vtoken:localStorage.getItem('vtoken')
							},
							data:this.ov
						  }).then((resp)=>{
							console.log(resp.data)
							this.$message({
							  message: '成功发送加入申请',
							  type: 'success'
							});
							location.reload()
						  }).catch((error)=> {
						    console.log(error.response);//可以拿到后端返回的信息
							this.$message.error('出错了，请尝试再次申请');
						  });
					},
					
					lshd(){
						axios({
						    method:"post",
						    url:"http://localhost:8080/Yzhiyuan365/Activity/selectAcstylelimit3",
							// headers:headers,
							headers:{
								vtoken:localStorage.getItem('vtoken')
							},
							data:this.formls
						  }).then((resp)=>{
							console.log(resp.data)
							this.tableDatals = resp.data
						  }).catch((error)=> {
						    console.log(error.response);//可以拿到后端返回的信息
						  });
					},
					
					jxz(){
						axios({
						    method:"post",
						    url:"http://localhost:8080/Yzhiyuan365/Activity/selectAcstylelimit3",
							// headers:headers,
							headers:{
								vtoken:localStorage.getItem('vtoken')
							},
							data:this.formjxz
						  }).then((resp)=>{
							console.log(resp.data)
							this.tableDatajxz = resp.data
						  }).catch((error)=> {
						    console.log(error.response);//可以拿到后端返回的信息
						  });
					},
					
					tcdl(){
						localStorage.removeItem('vtoken')
						localStorage.removeItem('vname')
						localStorage.removeItem('vphone')
						localStorage.removeItem('vid')
						location.reload()
					}
					
				}
			})
		</script>
	</body>
</html>